<div class="movie-search">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search..." ng-model="vm.search.title">
    </div>
  </div>
</div>
<div class="results">
  <div class="pull-left info">
    <span ng-show="vm.showPager()">
      {{ vm.getPager().from }} - {{ vm.getPager().to }} of {{ vm.getPager().total }} results
    </span>
    <span ng-show="!vm.showPager()">
      {{ vm.getPager().total }} results
    </span>
  </div>
  <div class="pull-right order">
    <span class="order-label">Sort by</span>
    <select class="form-control order-field" ng-model="vm.order">
      <option value="date">Date</option>
      <option value="title">Name</option>
    </select>
    <button class="btn" ng-click="vm.sort()">
      <span ng-if="!vm.sortDesc" class="glyphicon glyphicon-arrow-up"></span>
      <span ng-if="vm.sortDesc" class="glyphicon glyphicon-arrow-down"></span>
    </button>
  </div>
</div>
<table class="table list">
  <tr class="movie" 
      ng-repeat="movie in vm.data = (vm.movies.items | filter:vm.search) | limitTo:vm.pager.size:vm.start() | orderBy:vm.order:vm.sortDesc">
    <td class="thumb">
      <img ng-src="{{movie.image}}" alt="..." class="img-thumbnail">
    </td>
    <td class="title">
      <h5>{{movie.title}} <span class="label label-default">{{movie.rating}}</span></h5>
      <button class="btn btn-primary btn-xs">Add to Watchlist</button>
    </td>
    <td class="details">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            Release Date
          </div>
          <div class="col-md-6">
            {{ movie.date | date:'MMMM d, yyyy' }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Run Time
          </div>
          <div class="col-md-6">
            {{ movie.run_time | toTime }}
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
<nav ng-show="vm.showPager()">
  <ul class="pagination">
    <li ng-repeat="page in vm.getPages()" ng-class="{active: vm.pager.current === page}">
      <span ng-click="vm.changePage(page)">{{ page + 1 }}</span>
    </li>
  </ul>
</nav>